
{% load static %}

<!-- Footer -->
<div class="jumbotron" id="footerbody">
<footer class="text-center text-lg-start bg-light text-muted">
  <div class="testfooter">



  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-2">
          <!-- Content
          <h6 class="text-uppercase fw-bold mb-4">

              <a <i class="fas fa-gem me-3" href="https://kwebaacademy.com/" ></i><img src="{% static 'images/Logo.png' %}" alt="No image found"></a>
          </h6> -->
          <p class="footerpara">
            <a class="" href="https://kwebatechhub.com"><img src="{% static 'images/Vector.png' %}" alt="No image found"></a>
            </p>
            <p class="footerpara2">Nervors ©2021</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <div class="col-md-2" >
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            About us
          </h6>

          <p class="footerhover">
            <a href="" class="text-reset">Press</a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Careers</a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Business</a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Contact us</a>
          </p>

        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Accounts
          </h6>
          <p class="footerhover">
            <a href="" class="text-reset" >Standard accounts</a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Professional accounts </a>
            </p>
        <p class="footerhover">
            <a href="" class="text-reset">Portfolio Management</a>
          </p>

          <p class="footerhover">
            <a href="" class="text-reset">Deposits & withdrawals</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Support
          </h6>
          <p class="footerhover">
            <a href="" class="text-reset" >Request a Feature</a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Support Center</a>
            </p>
        <p class="footerhover">
            <a href="" class="text-reset">24/7 Chat Support</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3" id="community">
          <!-- Links -->
           <h6 id="comm" class="text-uppercase fw-bold mb-4">Community</h6>
          <div>
            <a href="https://instagram.com.com" class="me-4 text-reset">
              <i class="fab fa-instagram"><img src="{% static 'images/ig.png' %}" alt="No image found"></i>
            </a>
            <a href="https://kwebatechhub.com" class="me-4 text-reset">
              <i class="fab fa-facebook-f"><img src="{% static 'images/fb.png' %}" alt="No image found"></i>
            </a>
            <a href="https://kwebatechhub.com" class="me-4 text-reset">
              <i class="fab fa-twitter"><img src="{% static 'images/tw.png' %}" alt="No image found"></i>
            </a>
            <a href="https://kwebatechhub.com" class="me-4 text-reset">
              <i class="fab fa-youtube"><img src="{% static 'images/yb.png' %}" alt="No image found"></i>
            </a>
          </div>
          <!-- Right -

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</div> <!-- end of test footer css -->


  <!-- Copyright -->
  <div class="footerlast">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

   <p class="footl">© 2021 Copyright: <a class="text-reset" href="https://kwebatechhub.com/">Kweba Tech-Hub</a></p>

  </div>
    </div>


  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- Lets create our own footer, starts here -->


<!-- Footer ends here -->

</div>
