{% extends 'base.html' %}
{% load static %}


{% block body %}



    <!--  let the header start here   -->
    <div class="jumbotron" id="indexheader" >
        <div class="container">
            <div class="row">
                          <div class="col-md-6"  >
                                <div class="indexheaderfirstcell">
                                          <h1 class="indexh1">Empowering the Future<br> <span class="indexheader-span-text">of Cryptocurrency<br>Innovation</span> </h1>


                                          <br>

                                            <br>
                                          <div >
                                            <a href="" <button type="button" class="btn btn-primary" style='margin-right:16px' name="button">Buy Crypto</button> </a>
                                          <!--  <button type="button" class="btn btn-info" style='margin-right:16px'  name="button">Know More</button> -->
                                           </div>

                                 </div>
                          </div>
                         <div class="col-md-6">
                                    <div class="indexheadimage">

                                    </div>
                         </div>
              </div>
        </div>
    </div>
  <!--  let the header end here   -->

    <!--  let the indexfirst jumbo start here   -->


      <div class="jumbotron custom-container" id="indexfirstjumbo">

    <div class="row">
                <div class="col-md-6">
                  <div class="indexfirstcell">

                          <h1 class="indexh1firstcell">Own your <br>Crypto Future</h1>
                          <h4 class="indexh4firstcell">Build your crypto portfolio today!</h4>
                          <br>

                          <div class="indexfirst-icon-image-paragraph-container">

                          <img src="{% static 'images/user.png' %}" alt="No image found" class="indexfirst-icon-para1"><p><span >Sign up with correct details of your valid documents</span></p>

                         </div>

                         <br>
                         <div class="indexfirst-icon-image-paragraph-container">
                           <img src="{% static 'images/identity.png' %}" alt="No image found" class="indexfirst-icon-para"><p> <span >Complete the identity verification process to secure <br>  your account and transactions.</span></p>

                         </div>
                         <br>

                         <div class="indexfirst-icon-image-paragraph-container">
                        <img src="{% static 'images/card.png' %}" alt="No image found" class="indexfirst-icon-para"><p> <span>Add funds to your crypto account to start trading crypto. <br>You can add funds with a variety of payment methods.</span></p>


                         </div>

                         <br>
                         <br>

                            <br>
                                <div id="indexfirst-cell-button">
                                  <a href="" <button type="button" class="btn btn-info" style='margin-right:16px'  name="button">Get Started</button> </a>
                                </div>
                  </div>

                </div>
                <div class="col-md-6">
                    <div class="indexfirst-cell-img">
                      <div class="indexfirst-column2-image-container">
                        <img src="{% static 'images/laptop.png' %}" alt="Image 1" class="first-image-laptop">
                      </div>
                      <div class="indexfirst-column2-image-container">
                        <img src="{% static 'images/Ellipse 1.png' %}" alt="Image 2" class="second-image-ellipse">
                      </div>
                    </div>
                  </div>

      </div>

        </div>

      <!--  let the indexfirst jumbo ends here   -->

      <!--  let the index second jumbo start here   -->

<div class="jumbotron" id="index-second-jumbo">
    <div class="custom-container-second-jumbo">

              <div class="index-second-header-image-container">
                <h1 class="index-second-header-text">Popular cryptocurrencies</h1>
                <img src="{% static 'images/Line 2.png' %}" alt="Your Image">
              </div>

            <br>
            <br>

        <div class="row" >
              <div class="col-md-3">

                <img src="{% static 'images/BITCOIN-PRICE.png' %}" alt="No image found">

              </div>

              <div class="col-md-3">
                <img src="{% static 'images/BNB-PRICE.png' %}" alt="No image found">

              </div>

              <div class="col-md-3">
                <img src="{% static 'images/ETH-PRICE.png' %}" alt="No image found">

              </div>

              <div class="col-md-3">
                <img src="{% static 'images/SOLANA-PRICE.png' %}" alt="No image found">

              </div>


          </div>

            <br>
            <br>

          <div class="index-second-footer-image-container">
            <p class="index-second-footer-text">trade more markets
            <img src="{% static 'images/arrow right.png' %}" alt="Your Image"></p>
          </div>
  </div>

  </div>

          <!--  let the index second jumbo ends here   -->

          <!--  let the index third jumbo starts here   -->

<div class="jumbotron" id="index-third-jumbo">

      <div class="custom-container-third-jumbo">

                <div class="row" >
                      <div class="col-md-3">
                        <img src="{% static 'images/ezgif.com-video-to-gif.gif' %}" alt="Your Image" class="index-third-trade-img">

                      </div>

                      <div class="col-md-1">

                      </div>

                      <div class="col-md-8" id="third-jumbo-second-column">
                        <h1 class="index-third-h1">Trade<br> <span class="index-third-header-span-text">Anywhere, Anytime</span> </h1>

                        <br>
                        <p class="index-third-header-para-text">Discover a seamless trading experience that puts you in control. <br>Join thousands of satisfied traders who have harnessed the potential of Nervors.</p>
                        <br>
                                <div class="row" >
                                            <div class="col-md-2" >
                                              <div class="">
                                                <img src="{% static 'images/google-playstore.png' %}" alt="Your Image" class="index-third-trade-img">

                                              </div>

                                              <br>
                                              <br>
                                              <div class="linuxpara">
                                                <p>Google Playstore</p>
                                              </div>

                                            </div>
                                            <div class="col-md-2">

                                                <div class="linuxpara">
                                                    <img src="{% static 'images/APPLE-STORE2.png' %}" alt="Your Image" class="index-third-trade-img">
                                                </div>


                                                <br>
                                                <br>
                                                <div class="linuxpara">
                                                  <p>Apple Store</p>
                                                </div>




                                            </div>
                                            <div class="col-md-2">
                                              <div class="linuxpara">
                                                  <img src="{% static 'images/windows_.png' %}" alt="Your Image" class="index-third-trade-img">
                                              </div>
                                              <br>
                                              <br>
                                              <div class="linuxpara">
                                                <p>Microsoft windows</p>
                                              </div>

                                            </div>
                                            <div class="col-md-2">
                                              <div class="">
                                                <img src="{% static 'images/mdi_linux.png' %}" alt="Your Image" class="index-third-trade-img">
                                              </div>
                                              <br>
                                              <br>
                                              <div class="linuxpara">
                                                <p>Linux</p>
                                              </div>

                                            </div>
                                            <div class="col-md-2">
                                              <div class="">
                                                    <img src="{% static 'images/wpf_mac-os.png' %}" alt="Your Image" class="index-third-trade-img">
                                              </div>
                                              <br>
                                              <br>
                                              <div class="linuxpara">
                                                <p>MacOS</p>
                                              </div>

                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                </div>

                          <br>
                          <br>

                          <div class="index-third-footer-image-container">
                            <p class="index-third-footer-text">view more download options
                            <img src="{% static 'images/arrow right_.png' %}" alt="No Image"></p>
                          </div>
                      </div>

                </div>



      </div>

</div>


          <!--  let the index third jumbo ends here   -->







{% endblock %}
